@import 'transition';

html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

.el-dialog__body {
  padding: 15px !important;
}

.el-menu-item [class^="custom-icon-"] {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
