$primary : #3F51B5;
$primary-light : #C5CAE9;
$primary-dark : #303F9F;
$accent : #536DFE;
$text : #FFFFFF;
$primary-text : #212121;
$secondary-text : #757575;
$divider : #BDBDBD;

$menuText:#bfcbd9;
$menuActiveText: #409eff;

$menuBg:#304156;
$menuHover:#263445;

:export{
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
}
